body {
  background: #191919;
  display: block;
  margin: 0;
  position: relative;
  width: 100%;
}

.header {
  background: #191919;
  border-bottom: 1px solid #292929;
  height: 64px;
  top: 0;
  width: 100%;
}

.header-logo-container {
  display: table;
  height: 100%;
  padding: 0 10px;
  position: relative;
  margin: 0 auto;
}

.header-logo-container a {
  color: #2cfdc9;
  display: block;
  font-size: 20px;
  height: 100%;
  line-height: 64px;
  text-decoration: none;
}

.nav ul {
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  background-color: #333;
  text-align: center;
  -webkit-padding-start: 0;
  padding: 0;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav ul li a:hover {
  background-color: #111;
}

.content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #191919;
  max-height: 100%;
  width: 640px;
  word-wrap: break-word;
}

.content a,
.content p {
  color: #FFF;
}

.ghost-overview-item {
  float: left;
  padding-top: 1px;
  text-align: center;
  width: 213px;
}

.ghost-mng-wrap {
  padding-top: 50px;
}

.ghost-mng-item {
  border-bottom: 1px solid #2cfdc9;
  float: left;
  padding-left: 10px;
  width: 200px;
}

.ghost-mng-item p {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.actions a {
  padding: 3px;
  text-decoration: none;
}

.whitelist-email-action-container {
  margin-top: 50px;
}

.whitelist-email-action-container input {
  float: left;
}

.whitelist-email-action-container .errors li {
  margin: 0;
}

.whitelist-email-action-container .input_email {
  float: left;
  margin-right: 10px;
  margin-top: 2px;
}

.whitelisted-emails-item {
  border-bottom: 1px solid #2cfdc9;
  height: 52px;
}

.whitelisted-emails-item  p {
  float: left;
}

.whitelisted-emails-item form {
  float: right;
  margin-bottom: 0;
  padding-top: 12px;
}

.whitelisted-emails-item .btn {
  margin-bottom: 0;
}

.whitelisted-emails-list {
  padding-top: 40px;
}

.btn {
  border: 1px solid #777;
  background: #191919;
  cursor: pointer;
  color: white;
  float: left;
  margin-bottom: 5px;
  padding: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.btn:hover {
  background: #2cfdc9;
  color: black;
}

.sign-in--container {
  position: relative;
}

.sign-in--container a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 383px;
}

.sign-in-centr {
  display: block;
}

.sign-in-details {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: #FFF;
}

.container-form {
  margin-top: 50px;
}

.container-form .label-wrap {
  float: left;
  width: 200px;
}

.container-form .label-input-wrapper {
  margin-top: 12px;
}

.container-form .btn {
  margin-top: 30px;
  margin-bottom: 0;
}

.error {
  color: #FF0000;
}

input {
  width: 260px;
}

textarea {
  width: 260px;
}

.form-wrapper-add-phantom input[type="radio"] {
  visibility: hidden;
}

.form-wrapper-add-phantom label {
  background-color: #ddd;
  color: #000;
  display: inline-block;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

.form-wrapper-add-phantom {
  margin-top: 60px;
}


.form-wrapper-add-phantom ul {
  padding: 0;
}

.form-wrapper-add-phantom .btn {
  margin-top: 30px;
}

.form-wrapper-add-phantom label:hover {
  background: #2cfdc9;
  color: #000;
}

.form-wrapper-add-phantom input[type="radio"]:checked + label {
  background-color: #2cfdc9;
  color: #000;
}

.form-wrapper-add-phantom input[type="radio"]:checked + label:hover {
  background: #2cfdc9;
  color: #000;
}

h1 {
  color: #2cfdc9;
}

.ghost-tooltip {
  background: #000;
  border: 1px solid infotext;
  color: #2cfdc9;
  font: menu;
  padding: 1px;
  width: 300px;
}

.ghost-overview-item .ghost-reserved {
  color: #2cfdc9;
}

.errors li {
  color: #FF0000;
  margin-left: 175px;
}

.form-wrapper-add-phantom .errors li {
  margin-left:15px;
}
