<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Phantom Ghost Name Picker{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <meta charset="utf-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <header class="header">
      <div class="header-logo-container">
        <a href="/">Phantom Ghost Name Picker</a>
      </div>
    </header>
    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
