{% extends 'base.html' %}

{% block title %}Managing Ghost Names{% endblock title %}

{% block content %}
  <div class="nav">
    <ul>
      <li><a href="/cms/add-ghost/">Add a new Ghost</a></li>
      <li><a href="/overview/">Overview</a></li>
      <li><a href="/cms/whitelisted-emails/">Whitelist emails</a></li>
    </ul>
  </div>
  <div>
    <form action="/cms/import-ghosts/" method="post">
      <input type="hidden" size="48" id="xsrf" name="xsrf" value="{{_xsrf}}" />
      <button class="btn" type="submit" >Import Default Ghosts</button>
    </form>
  </div>
  <div class="ghost-mng-wrap">
    {% for ghost in ghosts %}
      <div class="ghost-mng-item">
        <p>{{ ghost.name }}</p>
        <p>Created by {{ ghost.creator.email }}</p>
        <div class="actions">
          <form action="/cms/edit-ghost/{{ ghost.key.id() }}">
            <button class="btn" type="submit">Edit</button>
          </form>
          <form action="/cms/delete-ghost/" method="post">
            <input type="hidden" value="{{ ghost.key.id() }}" name="ghost_id"/>
            <input type="hidden" size="48" id="xsrf" name="xsrf" value="{{_xsrf}}" />
            <button class="btn" type="submit">Delete</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}