{% extends 'base.html' %}

{% block content %}
  <div class="sign-in--container">
    <a href="/overview/"><img class="sign-in-centr" src="/static/img/btn_google_signin_light_pressed_web@2x.png"></a>
  </div>
{% endblock content %}