{% extends 'base.html' %}

{% block title %}Add a Phantom Name Page{% endblock title %}

{% block content %}
  <div class="nav">
    <ul>
      <li><a href="/overview/">Overview</a></li>
      {% if userdata.is_whitelisted or user_is_admin %}
        <li><a href="/cms/ghosts/">Manage Ghosts</a></li>
        <li><a href="/cms/whitelisted-emails/">Whitelist emails</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="container-form">
    <form method="post">
      {% for field in form %}
        <div class="label-input-wrapper">
          {% if field.widget.input_type == 'hidden' %}
            {{ field }}
          {% else %}
            <div class="label-wrap">
              <label>{{ field.label }}</label>
            </div>
            {{ field }}
            {% if field.errors %}
              <ul class=errors>
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
      <input type="hidden" size="48" id="xsrf" name="xsrf" value="{{_xsrf}}" />
      <div>
        <button class="btn" type="submit">Continue</button>
      </div>
    </form>
  </div>
{% endblock content %}