{% extends "base.html" %}

{% block title %}Create a Phantom Ghost Name{% endblock title %}

{% block content %}
  <div class="nav">
    <ul>
      <li><a href="/add-phantom/">Back</a></li>
      <li><a href="/overview/">Overview</a></li>
      {% if userdata.is_whitelisted or user_is_admin %}
        <li><a href="/cms/ghosts/">Manage Ghosts</a></li>
        <li><a href="/cms/whitelisted-emails/">Whitelist emails</a></li>
      {% endif %}
    </ul>
  </div>
  <p>Select a phantom name from the following:</p>
  <div class="form-wrapper-add-phantom">
    <form method="post">
      {% for ghost in ghosts_to_choose %}
        <div>
          <input id="gender-{{ ghost.key.id() }}" type="radio" name="ghost" value="{{ ghost.key.id() }}">
          <label for="gender-{{ ghost.key.id() }}">{{ phantom.first_name }} '{{ ghost.name }}' {{ phantom.last_name }}</label>
        </div>
      {% endfor %}
      {% if errors is defined and errors %}
        <ul class="errors">
          {% for error in errors %}
            <li>
              {{ error }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <input type="hidden" size="48" id="xsrf" name="xsrf" value="{{_xsrf}}"/>
      <div>
        <button class="btn" type="submit">Create Phantom Ghost Name</button>
      </div>
    </form>
  </div>
{% endblock content %}