{% extends 'base.html' %}

{% block title %}Add/Edit Ghost Names{% endblock title %}

{% block content %}
  <div class="nav">
    <ul>
      <li><a href="/overview/">Overview</a></li>
      <li><a href="/cms/ghosts/">Manage Ghosts</a></li>
      <li><a href="/cms/whitelisted-emails/">Whitelist emails</a></li>
    </ul>
  </div>
  <div class="ghost-manage-container container-form">
    <form method="post">
      {% for field in form %}
        {% if field.widget.input_type == 'hidden' %}
          {{ field }}
        {% else %}
          <div class="label-wrap">
            <label>{{ field.label }}</label>
          </div>
          {{ field }}
          {% if field.errors %}
            <ul class=errors>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      {% endfor %}
      <input type="hidden" size="48" id="xsrf" name="xsrf" value="{{_xsrf}}">
      {% if form.id.data %}
        <div>
          <button class="btn" type="submit">Edit Ghost</button>
        </div>
      {% else %}
        <div>
          <button class="btn" type="submit">Add Ghost</button>
        </div>
      {% endif %}
    </form>
  </div>
{% endblock content %}
