{% extends 'base.html' %}

{% block title %}Overview{% endblock title %}

{% block content %}
  <div class="nav">
    <ul>
      {% if ghosts_available %}
        <li>
          <a href="/add-phantom/">{% if userdata.has_phantom_name %}Change current Phantom name{% else %}Get a Phantom Name{% endif %}</a>
        </li>
      {% endif %}
      {% if userdata.is_whitelisted or user_is_admin %}
        <li><a href="/cms/ghosts/">Manage Ghosts</a></li>
        <li><a href="/cms/whitelisted-emails/">Whitelist emails</a></li>
      {% endif %}
    </ul>
  </div>
  <div>
    <div>
      <p>Hello {{ first_name }} {{ last_name }}! ({{ email }}) {% if user_phantom and user_phantom.display_name %}or better known as phantom...{% endif %}</p>
      {% if user_phantom and user_phantom.display_name %}
        <h1>{{ user_phantom.display_name }}</h1>
      {% endif %}
      <p>Here you can find a list of Ghost names. The ones highlighted are already taken - whoops.
        You can also hover over Ghost Names to see their description, where applicable.
        {% if not user_phantom or not user_phantom.display_name %}Go ahead and reserve a Ghost name by creating a Phantom Name!{% endif %}</p>
    </div>
  </div>
  <div class="ghost-overview-list">
    {% for ghost in ghosts %}
      <div class="ghost-overview-item">
        <p class="{% if ghost.is_reserved %}ghost-reserved{% endif %}" data-description="{{ ghost.description }}">{{ ghost.name }}</p>
      </div>
    {% endfor %}
  </div>
  <script src="/static/app.js"></script>
{% endblock content %}