{% extends 'base.html' %}

{% block title %}Whitelisted Emails{% endblock title %}

{% block content %}
  <div class="nav">
    <ul>
      <li><a href="/overview/">Overview</a></li>
      <li><a href="/cms/ghosts/">Manage Ghosts</a></li>
    </ul>
  </div>
  <div class="whitelist-email-action-container">
    <p>You can add whitelisted emails here. Users with matching emails in this list will be granted access to managing Ghost Names and Whitelisted Emails.</p>
    <form action="/cms/whitelisted-emails/" method="post">
      {% for field in form %}
        {% if field.errors %}
          <ul class="errors">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {{ field }}
      {% endfor %}
      <input type="hidden" size="48" id="xsrf" name="xsrf" value="{{_xsrf}}"/>
      <button class="btn" type="submit">Whitelist Email</button>
    </form>
  </div>
  <div class="whitelisted-emails-list">
    <p>List of emails whitelisted</p>
    {% for whitelist_item in whitelist %}
      <div class="whitelisted-emails-item">
        <p>{{ whitelist_item.email }}</p>
        {% if whitelist_item.email != userdata.email %}
          <form action="/cms/delete-from-whitelist/" method="post">
            <input type="hidden" value="{{ whitelist_item.key.id() }}" name="superhero_id"/>
            <input type="hidden" size="48" id="xsrf" name="xsrf" value="{{_xsrf}}" />
            <button class="btn" type="submit">Delete Email</button>
          </form>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}